/* Variables
=============================================*/
$primary: #092024; //
$primary-sub: #275974;
$secondary: #4d9fbf; //
$secondary-sub: #bbd9e8;
$tertiary: #edfcff; //
$tertiary-sub: #ef8853;

$bodyFont: 'Helvetica', 'Arial', sans-serif;
$bodyFontFull: normal 16px/20px $bodyFont;


$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$tablet-width: 768px;
$tablet-mid-width: 800px;
$desktop-width: 1024px;
$super-desktop-width: 1400px;
$mobile-width: 680px;
$small-mobile-width: 375px;
