@import "_variables.scss"; // Include all variables for the site like fonts
@import "_keyframes.scss"; // keyframe animations, only include if you'll be using keyframe animations
@import "_mixins.scss";

main {
	background: linear-gradient(-45deg, $secondary-sub, $secondary, $primary-sub, $primary);
	background-size: 300% 300%;
	height: 680px;
	position: relative;
	width: 100%;
	-webkit-animation: Gradient 60s ease infinite;
	-moz-animation: Gradient 60s ease infinite;
	animation: Gradient 60s ease infinite;

	header {
		height: 70px;
		line-height: 70px;
		vertical-align: middle;

		a#bars {
			left: 20px;
			position: absolute;
			top: 7%;
			width: 120px;

			&.active {
				display: block;

				.bar {
					background: $tertiary;
					bottom: 1px;
					height: 2px;
					position: absolute;
					width: 20px;     
					animation: Bars 0ms -800ms linear infinite alternate;
				}

				.bar:nth-child(1)  { 
					left: 0px; 
					animation-duration: 574ms; 
				}
				.bar:nth-child(2)  { 
					left: 20px; 
					animation-duration: 533ms; 
				}
				.bar:nth-child(3)  { 
					left: 40px; 
					animation-duration: 507ms; 
				}
				.bar:nth-child(4)  { 
					left: 60px; 
					animation-duration: 558ms; 
				}
				.bar:nth-child(5)  { 
					left: 80px; 
					animation-duration: 500ms; 
				}
				.bar:nth-child(6)  { 
					left: 100px; 
					animation-duration: 527ms; 
				}
			}

			.bar {
				background: $tertiary;
				bottom: 1px;
				height: 2px;
				position: absolute;
				width: 20px;
			}
			.bar:nth-child(1)  { 
				left: 0px; 
			}
			.bar:nth-child(2)  { 
				left: 20px; 
			}
			.bar:nth-child(3)  { 
				left: 40px; 
			}
			.bar:nth-child(4)  { 
				left: 60px;
			}
			.bar:nth-child(5)  { 
				left: 80px;
			}
			.bar:nth-child(6)  { 
				left: 100px;
			}
			.bar:nth-child(7)  { 
				left: 120px;
			}
			.bar:nth-child(8)  { 
				left: 140px;
			}
			.bar:nth-child(9)  { 
				left: 160px;
			}
			.bar:nth-child(10) { 
				left: 180px;
			}
		}

		ul.nav {
			display: flex;
			float: right;
			margin: 15px;

			li {
				margin: 0 20px;
			}
		}
	}

	#dance {
		bottom: 0%;
		height: 610px;
		left: 50%;
		position: relative;
		transform: translate(-50%, 0);

		img#vegeta {
			bottom: 0;
			left: 60%;
			position: absolute;
			transform: translate(-50%, 0);
		}

		img#goku {
			bottom: 0;
			left: 40%;
			position:absolute;
			transform: translate(-50%, 0);
		}

		&.active {
			img#vegeta {
				animation: Right 1s linear;
				animation-fill-mode:forwards;
				bottom: 0;
				position: absolute;
			}

			img#goku {
				animation: Left 1s linear;
				animation-fill-mode:forwards;
				bottom: 0;
				position:absolute;
			}
		}

		@include mobile {
			display: none;
		}
	}

}

