@import "_variables.scss"; // Include all variables for the site like fonts
@import "_keyframes.scss"; // keyframe animations, only include if you'll be using keyframe animations
@import "_mixins.scss";

header {
	background: linear-gradient(45deg, $tertiary, $secondary-sub, $secondary, $primary-sub, $primary);
	background-size: 300% 300%;
	height: 680px;
	padding: 15px 50px;
	width: 100%;
	-webkit-animation: Gradient 60s ease infinite;
	-moz-animation: Gradient 60s ease infinite;
	animation: Gradient 60s ease infinite;

	a.logo {
		img {
			filter: invert(100%);
			float: left;
			height: auto;
			width: 200px;
		}
	}

	ul.nav {
		display: flex;
		float: right;
		margin: 15px;

		li {
			margin: 0 20px;
		}
	}

	#bars {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, 50%);
		width: 200px;

		&.active {
			display: block;

			.bar {
				background: $tertiary;
				bottom: 1px;
				height: 2px;
				position: absolute;
				width: 20px;     
				animation: Bars 0ms -800ms linear infinite alternate;
			}

			.bar:nth-child(1)  { 
				left: 0px; 
				animation-duration: 574ms; 
			}
			.bar:nth-child(2)  { 
				left: 20px; 
				animation-duration: 533ms; 
			}
			.bar:nth-child(3)  { 
				left: 40px; 
				animation-duration: 507ms; 
			}
			.bar:nth-child(4)  { 
				left: 60px; 
				animation-duration: 558ms; 
			}
			.bar:nth-child(5)  { 
				left: 80px; 
				animation-duration: 500ms; 
			}
			.bar:nth-child(6)  { 
				left: 100px; 
				animation-duration: 527ms; 
			}
			.bar:nth-child(7)  { 
				left: 120px; 
				animation-duration: 541ms; 
			}
			.bar:nth-child(8)  { 
				left: 140px; 
				animation-duration: 519ms; 
			}
			.bar:nth-child(9)  { 
				left: 160px; 
				animation-duration: 587ms; 
			}
			.bar:nth-child(10) { 
				left: 180px; 
				animation-duration: 542ms; 
			}
		}

		.bar {
			background: $tertiary;
			bottom: 1px;
			height: 2px;
			position: absolute;
			width: 20px;
		}
		.bar:nth-child(1)  { 
			left: 0px; 
		}
		.bar:nth-child(2)  { 
			left: 20px; 
		}
		.bar:nth-child(3)  { 
			left: 40px; 
		}
		.bar:nth-child(4)  { 
			left: 60px;
		}
		.bar:nth-child(5)  { 
			left: 80px;
		}
		.bar:nth-child(6)  { 
			left: 100px;
		}
		.bar:nth-child(7)  { 
			left: 120px;
		}
		.bar:nth-child(8)  { 
			left: 140px;
		}
		.bar:nth-child(9)  { 
			left: 160px;
		}
		.bar:nth-child(10) { 
			left: 180px;
		}

	}

}

