@import "_variables.scss"; // Include all variables for the site like fonts
@import "_mixins.scss"; // Include the CSS mixins
@import "_reset.scss"; // Include the general HTML reset
@import "_keyframes.scss"; // keyframe animations, only include if you'll be using keyframe animations

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}
*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit; 
}
img,
iframe {
	vertical-align: middle;
	max-width: 100%; 
}
body {
	background-color: $primary;
}
ul,li { 
	list-style-type: none;
	list-style-position:inside;
	margin:0;
	padding:0; 
}

h1, h2, h3, p {
	color: $tertiary;
}

a {
	color: $tertiary;
}