/* Variables
=============================================*/
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-webkit-keyframes Bars {
  0% {
    opacity: .35;
    height: 2px; }
  50% {
    opacity: 1;
    height: 30px; }
  100% {
    opacity: .35;
    height: 2px; } }

@-moz-keyframes Bars {
  0% {
    opacity: .35;
    height: 2px; }
  50% {
    opacity: 1;
    height: 30px; }
  100% {
    opacity: .35;
    height: 2px; } }

@keyframes Bars {
  0% {
    opacity: .35;
    height: 2px; }
  50% {
    opacity: 1;
    height: 30px; }
  100% {
    opacity: .35;
    height: 2px; } }

@-webkit-keyframes Left {
  100% {
    left: 20%; } }

@-moz-keyframes Left {
  100% {
    left: 20%; } }

@keyframes Left {
  100% {
    left: 20%; } }

@-webkit-keyframes Right {
  100% {
    left: 80%; } }

@-moz-keyframes Right {
  100% {
    left: 80%; } }

@keyframes Right {
  100% {
    left: 80%; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 20px rgba(239, 136, 83, 0); }
  50% {
    -webkit-box-shadow: 0 0 20px #ef8853; }
  100% {
    -webkit-box-shadow: 0 0 20px rgba(239, 136, 83, 0); } }

/* Mixins
=============================================*/
.profile-image {
  border-radius: 50%;
  width: 50px; }

.container {
  margin: 0 auto;
  opacity: 0;
  width: 30%; }
  .container.active {
    opacity: 1; }
    .container.active form {
      padding: 0;
      border-radius: 4px;
      background-color: #092024;
      box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.5); }
      .container.active form fieldset {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 1em 0 1em 0;
        border: none;
        border-bottom: 1px solid #ccc; }
      .container.active form fieldset:first-child {
        margin-bottom: 0; }
      .container.active form fieldset:last-child {
        border-bottom: none;
        margin-top: 0;
        padding: 0; }

input {
  display: block;
  width: 90%;
  height: 20px;
  margin: 0 auto;
  padding: 5px 0;
  color: #ef8853;
  border: 1px solid #ccc;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

input[type="submit"] {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  max-width: 100% !important;
  height: 3em;
  margin: 0 auto;
  padding: 7px 5px 5px 5px;
  background-color: #092024;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  color: #ef8853;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: none;
  border-radius: 0 0 4px 4px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

input[type="submit"]:hover {
  background-color: rgba(239, 136, 83, 0.5);
  text-shadow: none; }

input::-webkit-input-placeholder {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

input:hover::-webkit-input-placeholder {
  color: #ef8853; }

input:focus::-webkit-input-placeholder {
  opacity: 0; }

input[type="text"]:focus, input[type="text"]:active, [type="password"]:focus, input[type="password"]:active {
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-image: none;
  -moz-box-shadow: 0 0 20px rgba(239, 136, 83, 0.5);
  box-shadow: 0 0 20px rgba(239, 136, 83, 0.5);
  animation: pulse 3s ease-in-out infinite; }

.list {
  display: block; }
