/* Variables
=============================================*/
/* Mixins
=============================================*/
@import url("_variables.scss");
@font-face {
  font-family: 'Type Style';
  src: url("../fonts/typo_style_bold_demo-webfont.woff2") format("woff2"), url("../fonts/typo_style_bold_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Reset & Normalization
=============================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none;
  visibility: hidden; }

/* Headings
=============================================*/
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal; }

h1 {
  font-size: 4.25em;
  /* 68px */
  line-height: 1.1471em; }

h2 {
  font-size: 2.625em;
  /* 42px */
  line-height: 1.2381em; }

h3 {
  font-size: 1.625em;
  /* 26px */
  line-height: 1em; }

small {
  font-size: 0.625em;
  /* 10px */ }

/* Preformatted
=============================================*/
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

pre, code, kbd, samp {
  font: 1em/1.625em; }

/* Tables
=============================================*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: left; }

/* Forms
=============================================*/
fieldset {
  border: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

legend {
  border: 0;
  *margin-left: -7px; }

button, input, select, textarea {
  font: 1em/1.625;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -sand-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

table button, table input {
  *overflow: auto; }

/* Quotes
=============================================*/
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

blockquote, q, cite {
  font-style: italic; }

blockquote > p {
  padding: 0; }

/* Lists
=============================================*/
ul, ol, li {
  list-style-position: inside;
  list-style-type: none;
  list-style-image: none; }

/* Links
=============================================*/
a, a:visited, a:hover, a:active {
  outline: none;
  text-decoration: none; }

/* Embedded content
=============================================*/
object, video {
  max-width: 100%; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

/* Helpers
=============================================*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 1px solid #ddd; }

strong, b, dt, .bold {
  font-weight: bold; }

dfn, .italic {
  font-style: italic; }

var, address {
  font-style: normal; }

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Main
=============================================*/
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow: auto !important; }

body {
  background: #fff;
  font: normal 16px/20px "Helvetica", "Arial", sans-serif;
  overflow: auto !important; }

h1 {
  font-size: 30px; }
  @media (min-width: 1024px) {
    h1 {
      font-size: 50px; } }
  @media (min-width: 681px) and (max-width: 1023px) {
    h1 {
      font-size: 50px; } }

h2 {
  font-size: 26px; }
  @media (min-width: 1024px) {
    h2 {
      font-size: 45px; } }
  @media (min-width: 681px) and (max-width: 1023px) {
    h2 {
      font-size: 45px; } }

h3 {
  font-size: 18px; }
  @media (min-width: 1024px) {
    h3 {
      font-size: 30px; } }
  @media (min-width: 681px) and (max-width: 1023px) {
    h3 {
      font-size: 30px; } }

p {
  font: normal 18px/27px "Helvetica", "Arial", sans-serif;
  padding: 10px 0; }
  @media (max-width: 679px) {
    p {
      font-size: 15px;
      line-height: 25px; } }

* {
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent; }

*.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;
  user-select: none; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-webkit-keyframes Bars {
  0% {
    opacity: .35;
    height: 2px; }
  50% {
    opacity: 1;
    height: 30px; }
  100% {
    opacity: .35;
    height: 2px; } }

@-moz-keyframes Bars {
  0% {
    opacity: .35;
    height: 2px; }
  50% {
    opacity: 1;
    height: 30px; }
  100% {
    opacity: .35;
    height: 2px; } }

@keyframes Bars {
  0% {
    opacity: .35;
    height: 2px; }
  50% {
    opacity: 1;
    height: 30px; }
  100% {
    opacity: .35;
    height: 2px; } }

@-webkit-keyframes Left {
  100% {
    left: 20%; } }

@-moz-keyframes Left {
  100% {
    left: 20%; } }

@keyframes Left {
  100% {
    left: 20%; } }

@-webkit-keyframes Right {
  100% {
    left: 80%; } }

@-moz-keyframes Right {
  100% {
    left: 80%; } }

@keyframes Right {
  100% {
    left: 80%; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 20px rgba(239, 136, 83, 0); }
  50% {
    -webkit-box-shadow: 0 0 20px #ef8853; }
  100% {
    -webkit-box-shadow: 0 0 20px rgba(239, 136, 83, 0); } }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

img,
iframe {
  vertical-align: middle;
  max-width: 100%; }

body {
  background-color: #092024; }

ul, li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0; }

h1, h2, h3, p {
  color: #edfcff; }

a {
  color: #edfcff; }

section#content {
  height: 500px;
  margin: 5% auto;
  width: 80%; }
  section#content .users {
    bottom: 0;
    content: '';
    height: 70%;
    opacity: .5;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    text-align: right;
    width: 300px;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; }
    section#content .users:hover {
      opacity: 1;
      -moz-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      -webkit-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out; }
    section#content .users .user {
      padding: 10px 30px; }
      section#content .users .user .profile-image {
        margin-right: 20px;
        width: 25px; }
      section#content .users .user .name {
        display: inline-block;
        font-size: 14px; }
