@import "_variables.scss";
@import "_keyframes.scss";
@import "_mixins.scss";

.profile-image {
  border-radius: 50%;
  width: 50px;
}

.container {
  margin: 0 auto;
  opacity: 0;
  width: 30%;

  &.active {
    opacity: 1;

    form{
      padding:0;
      border-radius: 4px;
      background-color: $primary;
      box-shadow: 0 2px 5px 0px rgba(0,0,0,0.5);

      fieldset{
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 1em 0 1em 0;
        border: none;
        border-bottom: 1px solid #ccc;
      }
      fieldset:first-child{
        margin-bottom:0;
      }
      fieldset:last-child{
        border-bottom: none;
        margin-top:0;
        padding:0;
      }
    }
  }
}


input{
  display:block;
  width: 90%;
  height:20px;
  margin:0 auto;
  padding: 5px 0;
  color: $tertiary-sub;
  border: 1px solid #ccc;
  text-align:center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
input[type="submit"]{
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  width:100%;
  max-width:100% !important;
  height:3em;
  margin: 0 auto;
  padding: 7px 5px 5px 5px;
  background-color:$primary;
  font-size: 1em;
  text-transform: uppercase;
  text-align:center;
  color:$tertiary-sub;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border:none;
  border-radius: 0 0 4px 4px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
input[type="submit"]:hover{
  background-color: rgba(239, 136, 83,0.5);
  text-shadow: none;
}
input::-webkit-input-placeholder{
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 transition: all 0.5s ease;
}
input:hover::-webkit-input-placeholder{
  color:$tertiary-sub;
}
input:focus::-webkit-input-placeholder{
  opacity:0;
}
input[type="text"]:focus,input[type="text"]:active,[type="password"]:focus,input[type="password"]:active{
  outline:0;
  -webkit-appearance: none;
  -moz-appearance: none; 
  border-image:none;
  -moz-box-shadow: 0 0 20px rgba(239, 136, 83,0.5);
  box-shadow: 0 0 20px rgba(239, 136, 83,0.5);
  animation: pulse 3s ease-in-out infinite;

}

.list {
  display: block;
}
