@import "_variables.scss"; // Include all variables for the site like fonts
@import "_mixins.scss"; // Include the CSS mixins
@import "_reset.scss"; // Include the general HTML reset
@import "_keyframes.scss"; // keyframe animations, only include if you'll be using keyframe animations

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
img,
iframe {
	vertical-align: middle;
	max-width: 100%;
}
body {
	background-color: $primary;
}
ul,li {
	list-style-type: none;
	list-style-position:inside;
	margin:0;
	padding:0;
}

h1, h2, h3, p {
	color: $tertiary;
}

a {
	color: $tertiary;
}

.egg {
    opacity: 0.05;
    position: absolute;
    right: 0;
    top: -10%;
    width: 60px;
    z-index: -1;

    &:hover {
    	opacity: 0.6;
    }
}

section#content {
	height: 500px;
	margin: 5% auto;
	width: 80%;

	.users {
		bottom: 0;
		content: '';
		height: 70%;
		opacity: .5;
		overflow-y: scroll;
		position: absolute;
		right: 0;
		text-align: right;
		width: 300px;

		-moz-transition: all 0.4s ease-out;
		-o-transition: all 0.4s ease-out;
		-webkit-transition: all 0.4s ease-out;
		-ms-transition: all 0.4s ease-out;
		transition: all 0.4s ease-out;

		&:hover {
			opacity: 1;
			-moz-transition: all 0.4s ease-out;
			-o-transition: all 0.4s ease-out;
			-webkit-transition: all 0.4s ease-out;
			-ms-transition: all 0.4s ease-out;
			transition: all 0.4s ease-out;
		}

		.user {
			padding: 10px 30px;

			.profile-image {
				margin-right: 20px;
				width: 25px;
			}

			.name {
				display: inline-block;
				font-size: 14px;
			}
		}
	}
}

section#about {
	height: 100vh;
	margin: 5% auto;
	width: 80%;
}